/* Magic Mirror
 * Module: MMM-TMB
 *
 * By @jaumebosch
 * MIT Licensed.
 */

.MMM-TMB {
    width : 350px;
}

.blinking {
    animation: blink 1s infinite alternate;
}

@-webkit-keyframes blink {
    from {opacity:0;}
    to {opacity: 1;}
}

.arriving {
	color: #800000;
}


.timeCell {
  min-width: 70px;
  font-size: 16px;
}

.stopCell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stopName {
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	padding: 0 5px;
	white-space: nowrap;
}
